body {
  background-color: rgb(233, 250, 252);
}

/* Title and info section */
.title {
  padding: 10px;
  text-align: center;
  color: rgb(35, 35, 48);
  font-family: Georgia, serif;
  font-size: 30px;
}

.quiz-title-wrapper {
  text-align: center;
}

.quiz-header-input {
  padding: 5px;
  margin: 10px;
}

.quiz-divider {
  border: 2px solid rgb(35, 35, 48);
}

.button-space {
  width:15px;
  height:auto;
  display:inline-block;
}

.quiz-content-wrapper {
  padding: 25px;
  margin-left: 10px;
}

.quiz-add-questions-wrapper {
  color: rgb(35, 35, 48);
  font-family: Georgia, serif;  
  line-height: 35px;
}

.quiz-questions-wrapper {
  margin: 10px;
}


/* MCQ */
.quiz-mcq-wrapper{
  color: rgb(35, 35, 48);
  font-family: Georgia, serif;
  line-height: 35px;
}

.mcq-header {
  margin-bottom: -10px;
  font-weight: bold;
}


/* FRQ */
.frq-defining-title {
  color: rgb(35, 35, 48);
  font-family: Georgia, serif;
  line-height: 35px;
}

.frq-header {
  margin-bottom: 0px;
  font-weight: bold;
}

.frq-wrapper {
  color: rgb(35, 35, 48);
  font-family: Georgia, serif;
  line-height: 30px;
}


/* MCMA */
.mcma-header {
  margin-bottom: -10px;
  font-weight: bold;
}



/* export */

.to-pdf-button {
  margin-left: 35px;
}

.important-note{
  height: 50px;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.points-wrapper{
  text-align: center;
  font-family: Georgia, serif;
  color: rgb(173, 8, 8);
  padding: -10px;
  font-weight: bold;
}